body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: url(../img/sky-texture.jpg);
  background-size: cover;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100em;
  bottom: 0;
  font-family: sans-serif;
  font-size: 60px;
  line-height: 1.5;
  font-weight: bold;
  color: yellow;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(130vh) rotateX(45deg);
}

.content {
  position: absolute;
  text-align: center;
  top: 100%;
  animation: scroll 80s linear 3s infinite;
}

.title {
  font-size: 4em;
  margin-bottom: 3em;
}

.subtitle {
  font-size: 3em;
  margin-bottom: 2em;
}

.text {
  padding: 0 50px;
  text-align: justify;
}

@keyframes scroll {
  from {
    top: 100%;
  }
  to {
    top: -100%;
  }
}
